<div class="ui card align center" style="margin-top: 10%">

  <div class="content">
    <div class="header">Portfolio</div>

    <table class="ui celled table">
      <thead>
      <tr>
        <th>Asset</th>
        <th>Amount</th>
        <th>Value in Dollar</th>
      </tr>
      </thead>
      <tbody>
      <% @investments.each do |inv| %>
        <tr>
          <td data-label="Asset"><%= inv.name %></td>
          <td data-label="Amount"><%= inv.asset_amount&.round(3) %></td>
          <td data-label="Value in Dollar">TODO</td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div>Total: TODO</div>

  </div>
</div>